* {
    box-sizing: border-box;
    padding: 0;
    margin:auto;
    text-align: center;
    background-color:white;
    font-family: cursive; 

}
#quizContainer.container{
    height: auto;
    width: auto;
    background-color: white;
}
.jumbotron text-center{
    background-color: white !important;
}
.title{
    font-size: 20px;
    background-color: lightcoral;
    margin:15px;
    padding: 15px;
}
.question{
    padding: 20px;
    margin: 35px;
    background: white;
    border-radius: 20px;
    color: black;
}

.option{
    width: 450px;
    display: inline-block ;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: white;
    color: #000000;
    border-radius: 20px;
}

.option:hover{
    background: black;
    columns: black;
}

.next-btn{
    border: none;
    outline: none;
    background:white;
    width: 100px;
    height:35px;
    border-radius: 20px;
    cursor:pointer;
    float:right;
    margin:10px;

}

.next-btn:hover{
    background: #ffffff;
    columns: #f6f6f6; 
}

#result.container{
  height: 100px;
  text-align: center;
  font-size: 56px; 
  padding: 100px; 
  align-items: center;
  margin: 100px;
}
